.torre {
  width: 160px;
  height: 210px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 0 15px;
  position: relative;
  z-index: 1;
  padding-bottom: 15px;
}

.torre::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 12px;
  height: 100%;
  background: #654321;
  border-radius: 5px;
  transform: translateX(-50%);
  z-index: 0;
}

.torre-base {
  width: 100%;
  height: 15px;
  background: #8B4513;
  position: absolute;
  bottom: 0;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
